@font-face {
    font-family: Roboto;
    src: url('../fonts/Roboto-Regular.ttf');
}
html, body {
    padding: 0;
    margin: 0;
    font-family: Roboto, sans-serif;
    background: #F2F2F2;
}

.flex {
    display: flex;
}

#backdrop {
    width: 100%;
    min-height: 100%;
    background: rgba(242, 242, 242,  0.9);
    position: absolute;
    text-align: center;
    line-height: 200px;
    font-size: 32px;
    z-index: 200;
    color: #6b6b6b;
}

.left-column {
    min-width: 275px;
    flex: none;
}

.fa {
    display: inline-block;
    width: 12px;
    height: 12px;
    fill: #2B7AE5;
    line-height: inherit;
    align-self: center;
}
.fa-caret-down {
    background: url('../images/caret-down.svg');
}
.fa-angle-right {
    background: url('../images/right-chevron.svg');
}
.fa-envelope {
    background: url('../images/envelope.svg') 14px 14px;
}
.fa-map{
    background: url('../images/map-marker.svg');
}
.fa-list{
    background: url('../images/list.svg');
}

.align-start {
    align-items: flex-start;
}
.layout-margin-top-8 {
    margin-top: 8px;
}
.layout-margin-bottom-8 {
    margin-bottom: 8px;
}
.layout-margin-top {
    margin-top: 16px;
}

.layout-padding{
    padding: 16px;
}
.layout-padding-right{
    padding-right: 16px;
}
.layout-padding-4 {
    padding: 4px;
}
.layout-padding-8 {
    padding: 8px;
}

.row {
    border-width: 1px;
    border-style: solid;
    border-left-width: 10px;
    color: #333333;
    font-size: 14px;
    border-color: inherit;
}

.font-12{
    font-size: 12px;
}

.flex-row {
    display: flex;
    flex-direction: row;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.flex-grow {
    flex-grow: 2;
}

.align-center {
    align-content: center;
    align-items: center;
}

.content {
    height: 100%;
    padding-top:0;
    max-width: 1400px;
}

.link {
    text-transform: uppercase;
    color: #2B7AE5;
    cursor: pointer;
}

.medium-grey {
    color: #6b6b6b;
}

.subheader{
    font-size: 18px;
    margin-bottom: 10px;
    text-transform: capitalize;
}

.md-shadow{
    -webkit-box-shadow: 0px 0px 1px 0px rgba(107,107,107,0.36);
    -moz-box-shadow: 0px 0px 1px 0px rgba(107,107,107,0.36);
    box-shadow: 0px 0px 1px 0px rgba(107,107,107,0.36);
}

.bg-white {
    background: #ffffff;

}

.bg-light-grey{
    background: #F2F2F2;
}

.separator-top {
    border-top: 1px solid #E4E4E4;
}

.separator-right{
    border-right: 1px solid #E4E4E4;
}

.row-right-column{
    width: 220px;
    flex: none;
}

.row-right-column .link {
    line-height: 30px;
}

.link img.left{
    margin-right: 8px;
}

.link img.right{
    margin-left: 8px;
}

.details-btn {
    font-size: 12px;
}

.row-header {
    line-height: 20px;
}

.title {
    font-size: 18px;
    font-weight: 700;
    text-transform: capitalize;
}

.dropdown {
    color: #6b6b6b;
    font-size: 12px;
    font-weight: 700;
    background: #ffffff;
    border: 1px solid #E4E4E4;
    margin-top: 16px;
    padding: 4px 0;
    position: relative;
}

.dropdown > * {
    padding-left: 10px;
    padding-right: 10px;
}
.dropdown #sort-value {
    padding: 10px;
}
.dropdown ul, .dropdown #sort-value {
    margin: 0;
    background: #ffffff;
    color: #2B7AE5;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
    font-weight: 400;
    font-size: 14px;
    flex-grow: 2;
    list-style: none;
}

.dropdown ul {
    position: absolute;
    padding: 0px;
    top:48px;
    right: 0;
    min-width: 204px;
}

.dropdown li span{
    display: block;
    padding: 12px;
    border-bottom: 1px solid #E4E4E4;
}

.dropdown i{
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
    color: #2B7AE5;
    cursor: pointer;
    pointer-events: none;
}

.button{
    background: #E4E4E4;
    color: #6b6b6b;
    flex-grow: 1;
    padding: 10px 16px;
    font-size: 14px;
    line-height: 18px;
    margin: 4px 0;
    cursor: pointer;
    text-transform: uppercase;
}
.button i {
    margin-right: 4px;
    font-size: 18px;
}
.button.active {
    border-radius: 3px;
    color: #ffffff;
    background: linear-gradient(to top,#2B7AE5, #4b96fd);
}

.show-all {
    background: #E4E4E4;
    color: #6b6b6b;
    flex-grow: 1;
    padding: 10px 16px;
    font-size: 14px;
    line-height: 18px;
    margin: 4px 0;
    cursor: pointer;
    text-transform: uppercase;
    color: #2B7AE5;
    text-align: center;
    font-weight: 700;
    margin-top: 15px;
}
.show-all:hover{
    color: #ffffff;
    background: linear-gradient(to top,#2B7AE5, #4b96fd);
    border-radius: 3px;
}

.history-header {
    font-weight: 700;
    font-size: 14px;
    display: inline-block;
    padding: 16px 0;
    text-transform: uppercase;
}

.history-column {
    font-size: 14px;
    color: #6b6b6b;
}

.hidden {
    display: none !important;
}

